[submodule "NIAH"]
	path = NIAH
	url = git@git-felix:z4nix/Longalign.git
	branch = main
[submodule "recurrentgemma"]
	path = recurrentgemma
	url = git@git-felix:stevenabreu7/recurrentgemma.git
	branch = dejavu
[submodule "manipulatte"]
	path = manipulatte
	url = https://github.com/lamalunderscore/manipulatte.git
